# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/

# PyTorch Lightning
lightning_logs/
Log_Results/
wandb/

# Data and checkpoints
data/3_40_710_10_20_data
checkpoints/
*.ckpt
*.pth
*.npz
*.pdb
*.sdf

src/models/diffsbdd/data/
src/models/diffsbdd/bash


# Job files and logs
jobs_files/
*.log

# IDE
.vscode/
.idea/

# System
.DS_Store
