# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/

# PyTorch Lightning
lightning_logs/
Log_Results/
wandb/

# Data and checkpoints
# data/AMPC_beta_lactamase/
# data/Carb_Anh_II/
# data/EGFR/
# data/BRD4_BD1
# data/Estrogen_recep_alpha/
# data/HIV_1_Protease/
# data/covid19_main_protease/ # abstract biophysics? and can you epxlain the slide after that? who is the end user
# data/custom_pdb_list_data/
# data/pdb_list.txt

*.ckpt
*.pth
*.npz
*.pdb
*.sdf
*.cif

src/models/diffsbdd/data/
src/models/diffsbdd/bash





# Job files and logs
jobs_files/
*.log

# IDE
.vscode/
.idea/

# System
.DS_Store
