*.smi
*.sdf 
*.log
__pycache__
__pycache__/
*.pyc
wandb/
/data/crossdocked_pocket10
data/processed_crossdock_noH_full_temp
data/crossdocked_pocket10.tar.gz
data/split_by_name.pt 
data/*.npz
data/*.npy
jobs_files
logsPPO
*.pstats
generation_dir/
equivariant_diffusion/__pycache__/dynamics.cpython-312.pyc
*.csv
new_gen_dir
training_script.sh
/configs/ppo_config.yml
Log_Results
data/__processed_crossdock_noH_ca_temp/